* {
  box-sizing: border-box;
}

body {
  background-color: #c36e6e;
  margin-top: 10%;
  background: linear-gradient(to left, #132647, #c36e6e);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card {
  background: linear-gradient(to top, white, #c36e6e, rgb(0, 170, 255));
  height: auto;
  width: 18rem;
  max-width: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}
.card-profile-image {
  max-height: 150%;
  max-width: 100%;
  text-align: center;
  padding: 16px;
}
.card-profile-image > img {
  position: relative;
  height: 150px;
  max-height: 100%;
  max-width: 100%;
  width: 150px;
  border-radius: 100px;
  box-shadow: 0px 25px 2rem rgba(0, 0, 0, 0.15);
}
.content {
  text-align: center;
}
.content > text {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.text {
  text-align: justify;
  padding: 10px 10px;
}

h1 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
.awe {
  font-size: 55px;
  padding: 0% 17%;
  margin: 0%;
  background-image: linear-gradient(to right, #4400ff, #ff699e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: hsla(315, 100%, 50%, 0.842);
}
.pro {
  font-size: 95px;
  color: #fff;
  word-break: break-all;
  display: inline-block;
  padding: 0% 17%;
  margin: 0%;
}
.fullbody {
  display: flex;
}
